.network-stim {
  text-align: center;
  font-size: 80px;
  position: relative;
    top: 50%; 
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.fb_box {
  width:35vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-150%);
}


.shapebox {
  width: 25vw;
  height: 25vw;
  position: absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.shapebox2 {
  width: 50vw;
  height: 25vw;
  position: absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.shapebox3 {
  width: 50vw;
  height: 25vw;
  position: absolute;
  top:70%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.stim {
    height: auto;
    width: auto\9; /* ie8 */
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
}