.display_stage {
    position: fixed;
    background: black;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    border-radius: 15px;
    border: 1vh solid #D0D0D0;
    z-index: 0;
}

.display_stage > div, .display_stage > p {
  color: white;
}

.fb_box {
  width:55vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-175%);
  background-color: none;
}

.dd-stim {
	text-align: center;
	font-size: 80px;
	position: absolute;
  transform: translate(-50%, -50%);
  background: black;
  width: 50vw;
  height: 60vh;
  top: 50%;
  left: 50%;
}

.amtbox {
  position: absolute;
  top: 35%;
  width:100%;
  z-index: 2
}

.delbox {
 position: absolute;
 top: 60%;
 width:100%;
 z-index: 3
}

.black-centerbox {
  width: 50vw;
  height: 60vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  background: black;
}		