.display_stage {
    position: fixed;
    background: black;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    border-radius: 15px;
    border: 1vh solid #D0D0D0;
    z-index: 0;
}

.betweenStimBox {
  width: 50vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.center-text {
  height: 10vh;
  text-align:center;
  font-size: 40px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}


.topbox {
  width: 26vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-170%);
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.bottombox {
  width: 26vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,70%);
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: white;

}

.leftbox {
  width: 26vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-170%,-50%);
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: white;

}

.rightbox {
  width: 26vw;
  height: 20vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(70%,-50%);
  background-color: black;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}

.centerimg {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.leftimg {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start; /* align horizontal */
    align-items: center; /* align vertical */
}

.rightimg {
	width: 100%;
	height: 100%;
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-end; /* align horizontal */
    align-items: center; /* align vertical */
}

.display_stage > div, .display_stage > p {
  color: white;
}