input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid grey;
    border-radius: 10px;
    
    /*required for proper track sizing in FF*/
    width: 100%;
}


input[type=number] {
  height:100%;
  width: 100%;
  border: solid 2px grey;
  border-radius: 10px;
  font-size: 32px;
}

input[type=text] {
  height:50%;
  width: 100%;
  border: solid 1px grey;
  border-radius: 10px;
  font-size: 32px;
}

div.questions {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

div.demo_text {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 7.5%;
    height:10%;
}

input[type=submit] {
  height:100%;
  width: 50%;
  border: solid 2px grey;
  border-radius: 10px;
  font-size: 20px;
}

img.center {
  height: 500px;
  width: 500px; /* ie8 */
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
  max-height: 65%;
}


img.force {
  height: 400px;
  width: 400px; /* ie8 */
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
  max-height: 65%;
}

.selected{
  border:solid 15px green; 
}


img.prime {
  height: 400px;
  width: 400px; /* ie8 */
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;  
  max-height: 65%;
  opacity: .35;
}


div.questions {
    background-color: black;
    color: white;
    margin: 20px 0 20px 0;
    padding: 20px;
}

div.demo_text {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 7.5%;
    height:10%;
}


.textbox {
 width: 100%;
 height: 75%;
 position:absolute;
 top:60%;
 left:50%;
 margin-right:-50%;
 transform: translate(-50%,-50%);
 background: black;
 background-color: black;
}

.centerbox {
 width: 50vw;
 height: 70vh;
 position:absolute;
 top:50%;
 left:50%;
 margin-right:-50%;
 transform: translate(-50%,-50%);
 background: black;
 background-color: black;
}


.practice_rating_text {
width:80%;
height: 15%;
position:absolute;
top:5%;
left:50%;
margin-right:-50%;
transform: translate(-50%,-50%);
background-color: black;
text-align: center;
}



.bigbox {
width:100%;
margin: auto; 
min-height: 100%;
position:absolute;
top:0%;
left:0%;
margin-right:0%;
background-color: black;
text-align: center;
}

.selected{
  border:solid 15px green; 
}


.center_picture_box {
width: 60%;
height: 65%;
position:absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
margin-right:0%;
background-color: black;
text-align: center;
}


.buttonbox {
width: 60%;
height: 10%;
position:absolute;
top:90%;
left:50%;
transform: translate(-50%,-50%);
margin-right:0%;
background-color: black;
text-align: center;
}

.inner {
display: inline-block;
padding: 20px;
padding-top: 0%;
}

.likert_btn {
background-color: gray;
font-size: 26px;
padding: 20px 35px;
font-size: 20px;
border-radius: 15px;
}



/* Text based classes */
/* Used for general instructions */
.block-text {
 width:100%;
 height 100vw;
 text-align: justify;
 margin: 0 auto;
 margin-bottom: 1em;
 font-size: 22px;
 line-height: 120%;
 position: relative;
 top: 15%;
 
}

/* As above but centeblack instead of justified. Good for instructions with few lines */
.center-block-text {
 width:100%;
 height 100vw;
 text-align: center;
 margin: 0 auto;
 margin-bottom: 1em;
 font-size: 26px;
 line-height: 120%;
}

.center-block-text2 {
 width:100%;
 height 100vw;
 text-align: center;
 font-size: 26px;
 transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
}

/* used for large text shown in the center of the screen, like FB or stimuli */
.center-textJamie {
 text-align:center;
 font-size: 26px;
 position: relative;
 top: 40%;
 -ms-transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
 transform: translateY(-50%);
}


/* fixation should be used like this in: '<div class = centerbox><div class = fixation>+</div></div>'*/
.fixation {
 text-align: center;
 font-size: 150px;
 position: relative;
 top: 50%; 
 transform: translateY(-50%);
 -webkit-transform: translateY(-50%);
}
