.display_stage {
    position: fixed;
    background: black;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    border-radius: 15px;
    border: 1vh solid #D0D0D0;
    z-index: 0;
}

.dd_centerbox {
  width:60vw;
  height: 35vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-68%);
  z-index: 2;
}

.dd_response_div {
  width: 40w;
  height: 8vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,140%);
}

.dd_response_button {
  width: 7vw;
  height: 7vw;
  background: #505050;
  margin: 1vw;
  position: relative;
  color: #fff;
  border-radius:15px;
  font-size: 22px;
  vertical-align:top;
}

.dd_response_button:hover {
  color: red;
}

.dd_response_button:active {
  background-color: black;
}

.dd_stimBox {
  width: 30vw;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:0%;
  transform: translate(-50%,-70%);
}

.dd_referenceBox {
  width: 20vw;
  height: 20vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:0%;
  transform: translate(-50%, -20%);
}

.dd_Stim {
  display: block;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%); 
}

.display_stage > div, .display_stage > p {
  color: white;
}