#stim1 {
	width: 150px;
	height: 200px;
	background: red;
}

#stim2 {
	width: 150px;
	height: 200px;
	background: blue;
}

.ANT_up {
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-200%);
}

.ANT_down {
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,100%);
}

.ANT_text {
	text-align: center;
	font-size: 60px;
}

.ANT_centercue_text {
	text-align: center;
	font-size: 60px;
	position: relative;
    transform: translateY(14%);
    -webkit-transform: translateY(14%);
}
