.titlebox {
  width:25vw;
  height: 8vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-500%);
  border-style: solid;
  border-color: CadetBlue;
}


.buttonbox {
  width:25vw;
  height: 5vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,300%);
  border-style: solid;
  border-color: CadetBlue;
}

.buttonbox select-button:last-child{
  margin-right: 0%;
/*so the last one dont push the div thas giving the space only between the inputs*/
}

.select-button {
	width:50%;
  min-width:0vw;
	height: 100%;
	float: left;
  background: #ECECEC;
  padding: 10px 20px;
  font-weight: bold;
  color:#7f7f7f;
  text-decoration: none;
  text-shadow:0px 1px 0px #fff;
  border:2px solid CadetBlue;
  margin:0px auto;
  box-shadow: 0px 2px 1px white inset, 0px -2px 8px white, 0px 2px 5px rgba(0, 0, 0, 0.1), 0px 8px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition:box-shadow 0.5s;
  font-size:24px;
  font-family: 'Helvetica Neue',Arial,sans-serif;
}

.select-button:hover {
  background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 50%);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 3px solid #FFA07A; 
}

.select-button:active {
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5) inset, 0px -2px 20px white, 0px 1px 5px rgba(0, 0, 0, 0.1), 0px 2px 10px rgba(0, 0, 0, 0.1);
    background:-webkit-linear-gradient(top, #d1d1d1 0%,#ECECEC 100%);
}


.infocontainer {
  width: 45vw;
  height: 10vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,55%);
}

.subinfocontainer {
  width:33%;
  height: 100%;
    float:left;
}

.subimgcontainer {
  width:34%;
  height: 100%;
  float:left;
}

.infobox {
  width:100%;
  height: 40%;
  margin-bottom: 10px;
  float:left;
  border-style: solid;
  border-color: CadetBlue;
}

.infotext {
    text-align: justify;
    font-size: 16px;
}

.imgbox {
  width:100%;
  height: 100%;
  float:left;
  background:url('images/fish_icon.png') no-repeat;
  background-size: contain;
  margin-left: 10%;
}



.lake {
  width:60vw;
  height: 40vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-80%);
  border-style: solid;
  border-color: CadetBlue;
  background-color: LightBlue
}

.cooler {
  width:13vw;
  height: 5vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(235%,-80%);
  border-style: solid;
  border-color: CadetBlue;
}

.weatherbox {
  width:13vw;
  height: 10vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(235%,-155%);
  border-style: solid;
  border-color: CadetBlue;
}



.redfish {
	 background: url('images/red_fish.png');
	 background-size: contain;
	 width: 2vw;
	 height:1.4vw;
}


.bluefish{
	 background: url('images/blue_fish.png');
	 background-size: contain;
	 width: 2vw;
	 height:1.4vw;
}

.greyfish{
	 content:url('images/grey_fish.png');
	 width: 2vw;
	 height:1.4vw;
}
