.bottombox {
  width:35vw;
  height: 20vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,50%);
}

.decision-left {
    width:330px;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-125%,-25%);
}


.decision-right {
    width:400px;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(25%,-25%);
}
.centerbox {
  width:35vw;
  height: 20vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
}

.center-text {
	text-align:center;
	font-size: 40px;
	position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/* Used for general instructions */
.block-text {
  width:100%;
  height 100vw;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 120%;
}


.decision-fb{
width:200px;
position: absolute;
top: 50%;
left:50%;
margin-right:-50%;
transform: translate(-50%, -25%);
}

img {
display: block;
height: 10vw;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);


]/* As above but centered instead of justified. Good for instructions with few lines */
.center-block-text {
  width:100%;
  height 100vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 20px;
  line-height: 120%;
}