.display_stage {
    position: fixed;
    background: black;
    left: 5vw;
    top: 2vh;
    height: 94vh;
    width: 90vw;
    border-radius: 15px;
    border: 1vh solid #D0D0D0;
    z-index: 0;
}

.display_stage > div, .display_stage > p {
  color: white;
}

.ss_text {
	text-align: center;
	font-size: 60px;
}


.ss_stim {
	text-align: center;
	font-size: 24px;
}

.stop-signal{
	text-align: center;
	font-size: 160px;
	color: black;
}

.centered-shape {
	position:absolute;
	top:50%;
    left:50%;
	transform: translate(-50%,-50%);
}

.shapebox {
  width: 25vw;
  height: 25vw;
  position: absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}


.stim {
    height: auto;
    width: auto\9; /* ie8 */
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;  
}

.prompt_stim {
  height: 90px;
  margin: auto;
  display: block;
  padding-bottom:5px;
}

.prompt_container {
  height: 140px;
  width: 180px;
  font-size: 25px;
}

.stopbox {
  width: 20%;
  height: 20vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}

/* covers fixation cross when stim is displayed */
.coverbox {
  width: 100%;
  height: 100%;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  background: black;
  z-index: 1;
}

.feedbackbox {
  width: 50vw;
  height: 60vh;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  z-index: 3;
}

#stop-signal {
    background: red;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    z-index: -2;
}

#stop-signal:before, #stop-signal:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: red;
}

#stop-signal:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#stop-signal:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

#stop-signal-inner {
    background: black;
    width: 95%;
    height: 95%;
    text-align: center;
    z-index: -1;
}
#stop-signal-inner:before, #stop-signal-inner:after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background: black;
}

#stop-signal-inner:before {
    -webkit-transform: rotate(30deg);
       -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
         -o-transform: rotate(30deg);
}
#stop-signal-inner:after {
    -webkit-transform: rotate(60deg);
       -moz-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
         -o-transform: rotate(60deg);
}

.instructbox {
  width: 50vw;
  height: 60vh;
  position:absolute;
  top:45%;
  left:50%;
  margin-right:-50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.instruct-text {
  width:100%;
  height 100vw;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 30px;
  line-height: 120%;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
}