img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.instructionImgBox {
  width: 30vw;
  height: 30vw;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:0%;
  transform: translate(-50%,-30%);
}

.responded {
  visibility: hidden;
}